html, body{
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: white;
	font-size: 16px;
	scroll-behavior: smooth;
}

nav ul {
  	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	overflow: hidden;
  	background: inherit;
  	position: fixed;
  	right: 0;
  	z-index: 1;
}

nav ul li{
  	float: left;
}

nav ul li a {
  	display: block;
  	color: white;
  	text-align: center;
  	font-family: 'Roboto Mono', monospace;
  	font-size: 1em;
  	font-weight: 300;
  	padding: 12px 14px;
  	text-decoration: none;
  	opacity: 0.8;
  	border-radius: 30px;
}

nav ul li a:hover{
	opacity: 1;
	transition: 0.3s ease;
}

.darkNav{
	color: #9eabe4;
	transition: 0.2s ease-in;
}

.hero{
	height: 100vh;
	display: flex;
	flex-flow: column wrap; 
	background-color: #9eabe4;
	background-image: linear-gradient(315deg, #9eabe4 0%, #77eed8 74%);
	justify-content: center;
	align-items: center;
}

/*.hero-img{
	position: relative;
	height: 70%%;
	overflow: hidden;
	background: url("https://images.unsplash.com/photo-1508830524289-0adcbe822b40?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1011&q=80") no-repeat center;
	background-size: cover;
}*/

.hero-container{
	min-width: 30vw;
	max-height: 500px;
	background: #1D1F21;
	font-size: 28px;
	margin: 0;
	padding: 12px;
	-webkit-box-shadow: 2px 3px 24px 8px  #1D1F21; 
	box-shadow: 2px 3px 24px 8px  #1D1F21;
}

/* 

hero title hover
*requires media query

.hero-container:hover{
	background: transparent;
	box-shadow: none;
	transition: 0.5168517729s ease-in;
}

.hero-container:hover #hero-title{
	color: #1D1F21;
	transition: 0.5168517729s ease-in;
}

.hero-container:hover #hero-subtitle{
	color: #1D1F21;
	transition: 0.5168517729s ease-in;
}

.hero-container:hover .inText-code{
	color: white;
	transition: 0.5168517729s ease-in;
}

*/

.hero-container p{
	margin: 0;
	padding: 0;
}

.inText-code{
	color: #4cf687;
	font-family: 'Roboto Mono', monospace;
	font-size: 12px;
	font-weight: 80;
	letter-spacing: 1.1px;
}

#hero-title{
	color: #71e6fa;
	font-family: 'Roboto Mono', monospace;
	font-size: 100%;
	font-weight: 500;
	letter-spacing: 0px;
	text-align: center;
	letter-spacing: -3px;
	word-spacing: 0px;

}

#hero-subtitle{
	color: #71e6fa;
	font-family: 'Roboto Mono', monospace;
	letter-spacing: 0px;
	font-size:45%;
	font-weight: 100;
	text-align: center;
	letter-spacing: -1px;
	word-spacing: -2px;

}

.social-links{
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline-block;
	line-height: 3;
	text-align: center;
}

.social-links li{
	float: left;
	font-size: 2em;
	width: 2em;
}

/*.social-links li:hover .fab{
	color: black;
	background: transparent;
	transition: 0.5s ease-out; 
}*/

.fab{
	font-size: 100%;
	color: white;
	background: transparent;
	border-radius: 222px;
	text-align: center;
	border-radius: 300px;
	line-height: 2 !important;
}

.fa-medium:hover{
	color: black;
}

.fa-twitter:hover{
	color: #38A1F3;
}

.fa-instagram:hover{
	color: #C13584;
}

.fa-linkedin:hover{
	color: #0077B5;
}

@media only screen and (max-width: 728px) {

	.fa-medium{
		color: black;
	}

	.fa-twitter{
		color: #38A1F3;
	}

	.fa-instagram{
		color: #C13584;
	}

	.fa-linkedin{
		color: #0077B5;
	}

}

.social-links li:not(:first-child){
	/* margin-left: 18px; */
}

.log-title{
	margin: 0;
	padding: 12px;
	text-align: center;
	font-size: 3.5em; 
	color: #71e6fa;
	font-family: 'Roboto Mono', monospace;
	background: #1D1F21;
}

.log{
	margin: 0 auto;
	padding: 12px;

}

.day{
	border-bottom: solid 1px #1D1F21;
	background: #F7F7F7;
}

.day:hover{
	background: #E3E7EA;
	transition: 0.9s ease;
}

.daily-info{
	background: #E3E7EA;
	width: 130px;
	height: 100%;
	padding-left: 4px;
	padding-bottom: 4px;
	padding-top: 0px;
	padding-right: 12px;
}

.daily-info:hover{
	background: #EDEDED;
}

.count{
	color: #1D1F21;
	font-family: 'Cinzel', serif;
	font-size: 2em;
	letter-spacing: 5px;
	text-transform: uppercase;
	font-weight: 100;
	margin: 2px;
	}

.time-of-day{
	margin: 0;
	font-size: 11px;
}

.time-of-day i{
	font-size: 0.8em;
	margin: 0;
	color: #1D1F21;
	opacity: 0.9;
}

.date{
	color: #1d1f21;
	font-family: 'Roboto Mono', monospace;
	font-size: 1em;
	font-weight: 50;
	margin-right: 5px;
}

.time{
	color: #1d1f21;
	font-family: 'Roboto Mono', monospace;
	font-size: 1em;
	font-weight: 50;
}

.log-description{
	margin: 10px;
	padding: 12px;
	text-align: center;
}

footer{
	margin-right: 12px;
	text-align: end;
	font-size: 12px;
}
